.products .product .image > img.promo {
    height: 225px;
    max-height: 30vh;
    object-fit: cover;
}

.logging-in .column {
    max-width: 400px;
}

.product .name {
    font-weight: bold;
}

.product .heading {
    max-height: 55px;
}

.product .trash.icon:hover {
    color: #db2828;
}
