<section class="info">
    <h1>Hoop and Loops</h1>
    <div class="ui unstackable items">
        <div class="item">
            <div class="ui tiny avatar image">
                <img class="" src="https://semantic-ui.com/images/avatar2/small/molly.png" alt="Bethany">
                <div class="ui huge horizontal list social links">
                    <a class="item" href="https://www.instagram.com/hoop.and.loops/" target="_blank">
                        <i class="instagram icon"></i>
                    </a>
                    <a class="item" href="https://www.facebook.com/hoop.and.loops/" target="_blank">
                        <i class="item facebook square icon"></i>
                    </a>
                    <a class="item" href="mailto:hoop.and.loops@gmail.com">
                        <i class="item envelope icon"></i>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="header">Bethany Shurmer</div>
                <div class="description">
                    <p>
                        Hoop and Loops is a store run by me, Bethany Shurmer. All of my products are custom and handmade. For more information about Hoop and Loops check out the <a href="about">About</a> page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .info {
        padding: 1rem;
    }

    .social.links {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
</style>
